# Flourish plots

Influenza A:#1f3d7a
Influenza B:#5ea6ed
Vírus Sincicial Respiratório:#DF4F4F
SARS-CoV-2:#1B8B5B
Coronavírus sazonais:#40bf88
Metapneumovírus:#e699b0
Rinovírus:#671d8c
Enterovírus:#ad5cd6
Vírus Parainfluenza:#d97726
Bocavírus:#f0b642
Adenovírus:#70c2c2
Bactérias:#ABABAB
Pos:#F26F61
Neg:#577DBD
SGTP:#ABABAB
SGTF:#016C59

## Libs

In [2]:
import pandas as pd
import numpy as np
import os

In [5]:
## Where am I?
dir_path = os.getcwd()

## print directory where am I
print(dir_path)

/Users/bragatte/Documents/GitHub/arbo/EDA

In [4]:
cd ..

/Users/bragatte/Documents/GitHub/arbo/EDA

In [6]:
# Set root path
# path_project = '~/Documents/respat_new/'
path_project = '/Users/bragatte/Documents/GitHub/arbo/EDA'

# Change work directory for path_project
os.chdir(path_project)

## Respat

### Bar plot

#### PosNeg

In [166]:
bar_posneg = pd.read_csv("barplot/combined_matrix_country_posneg_allpat_weeks.tsv", sep='\t')

In [167]:
bar_posneg.head(3)

,test_result,country,2021-11-06,2021-11-13,2021-11-20,2021-11-27,2021-12-04,2021-12-11,2021-12-18,2021-12-25,...,2023-06-24,2023-07-01,2023-07-08,2023-07-15,2023-07-22,2023-07-29,2023-08-05,2023-08-12,2023-08-19,2023-08-26
0,Neg,Brazil,2,13,8,12,2219,1076,1374,1539,...,13669,13654,11453,9973,8269,6935,7336,6348,7007,3270
1,Pos,Brazil,0,0,0,0,64,27,32,125,...,1140,1005,766,630,502,444,458,458,644,308

In [168]:
## Remover a coluna "country"
bar_posneg.drop('country', axis=1, inplace=True)

In [169]:
## Derreter (melt) as colunas de data em uma coluna
bar_posneg_melted = pd.melt(bar_posneg, id_vars='test_result', var_name='semana epidemiológica', value_name='testes')
bar_posneg_melted.head(3)

  test_result semana epidemiológica  testes
0         Neg            2021-11-06       2
1         Pos            2021-11-06       0
2         Neg            2021-11-13      13

In [170]:
## Filtrar os valores positivos e negativos
bar_posneg_positivos = bar_posneg_melted[bar_posneg_melted['test_result'] == 'Pos'].reset_index(drop=True)
bar_posneg_negativos = bar_posneg_melted[bar_posneg_melted['test_result'] == 'Neg'].reset_index(drop=True)
bar_posneg_positivos.head(3)

  test_result semana epidemiológica  testes
0         Pos            2021-11-06       0
1         Pos            2021-11-13       0
2         Pos            2021-11-20       0

In [171]:
## Combinar os valores positivos e negativos em uma única linha
bar_posneg_combined = pd.concat([bar_posneg_positivos['semana epidemiológica'], bar_posneg_positivos['testes'], bar_posneg_negativos['testes']], axis=1)
bar_posneg_combined.columns = ['semana epidemiológica', 'Positivos', 'Negativos']

In [172]:
bar_posneg_combined.head(5)

  semana epidemiológica  Positivos  Negativos
0            2021-11-06          0          2
1            2021-11-13          0         13
2            2021-11-20          0          8
3            2021-11-27          0         12
4            2021-12-04         64       2219

In [173]:
## Salvar o DataFrame final em um arquivo TSV
bar_posneg_combined.to_csv('barplot_posneg.tsv', sep='\t', index=False)
## Salvar excel
bar_posneg_combined.to_excel('bar_posneg.xlsx', index=False)

#### Panels

In [174]:
bars = pd.read_csv("barplot/combined_matrix_country_posneg_panel_weeks.tsv", sep='\t')
bars.head(3)

,country,pathogen,test_result,2021-11-06,2021-11-13,2021-11-20,2021-11-27,2021-12-04,2021-12-11,2021-12-18,...,2023-06-24,2023-07-01,2023-07-08,2023-07-15,2023-07-22,2023-07-29,2023-08-05,2023-08-12,2023-08-19,2023-08-26
0,Brazil,ADENO,Neg,0,0,0,0,0,0,0,...,156,141,117,99,98,81,102,90,109,78
1,Brazil,ADENO,Pos,0,0,0,0,0,0,0,...,6,10,5,4,5,4,2,3,3,5
2,Brazil,BAC,Neg,0,0,0,0,0,0,0,...,160,148,118,99,93,85,100,88,112,82

In [175]:
## Remover a coluna "country"
bars.drop('country', axis=1, inplace=True)

In [176]:
## Converter a matriz em um DataFrame
bars_melted = pd.melt(bars, id_vars=['pathogen', 'test_result'], var_name='semana epidemiológica', value_name='casos').reset_index(drop=True)
bars_melted.tail(3)

     pathogen test_result semana epidemiológica  casos
2277      SC2         Pos            2023-08-26     12
2278      VSR         Neg            2023-08-26    147
2279      VSR         Pos            2023-08-26     15

In [177]:
## Filtrar apenas os valores positivos
bars_pos = bars_melted[bars_melted['test_result'] == 'Pos'].reset_index(drop=True)
bars_pos.tail(3)

     pathogen test_result semana epidemiológica  casos
1137     RINO         Pos            2023-08-26     40
1138      SC2         Pos            2023-08-26     12
1139      VSR         Pos            2023-08-26     15

In [178]:
## Converter os valores da coluna 'casos' para numéricos
bars_pos['casos'] = bars_pos['casos'].astype(int)

In [179]:
## Pivotar os dados para ter os nomes dos patógenos como colunas e a soma dos valores positivos como linhas
bars_piv = bars_pos.pivot_table(index='semana epidemiológica', columns='pathogen', values='casos', aggfunc='sum').reset_index()
bars_piv.head()

pathogen,semana epidemiológica,ADENO,BAC,BOCA,COVS,ENTERO,FLUA,FLUB,META,PARA,RINO,SC2,VSR
0,2021-11-06,0,0,0,0,0,0,0,0,0,0,0,0
1,2021-11-13,0,0,0,0,0,0,0,0,0,0,0,0
2,2021-11-20,0,0,0,0,0,0,0,0,0,0,0,0
3,2021-11-27,0,0,0,0,0,0,0,0,0,0,0,0
4,2021-12-04,0,0,0,0,0,0,0,0,0,0,0,0

In [180]:
## Reordenar as colunas e renomear
bars = bars_piv.reindex(columns=['semana epidemiológica', 'RINO', 'ENTERO', 'META', 'PARA', 'BOCA', 'COVS','ADENO', 'BAC','FLUA', 'FLUB', 'SC2', 'VSR'])
bars = bars.rename(columns={'RINO': 'Rinovírus', 'ENTERO': 'Enterovírus', 'META': 'Metapneumovírus', 'PARA': 'Vírus Parainfluenza', 'BOCA': 'Bocavírus', 'COVS': 'Coronavírus sazonais', 'ADENO': 'Adenovírus', 'BAC': 'Bactérias', 'FLUA': 'Influenza A',  'FLUB': 'Influenza B', 'SC2':'SARS-CoV-2', 'VSR':'Vírus Sincicial Respiratório'})
bars.head()

pathogen,semana epidemiológica,Rinovírus,Enterovírus,Metapneumovírus,Vírus Parainfluenza,Bocavírus,Coronavírus sazonais,Adenovírus,Bactérias,Influenza A,Influenza B,SARS-CoV-2,Vírus Sincicial Respiratório
0,2021-11-06,0,0,0,0,0,0,0,0,0,0,0,0
1,2021-11-13,0,0,0,0,0,0,0,0,0,0,0,0
2,2021-11-20,0,0,0,0,0,0,0,0,0,0,0,0
3,2021-11-27,0,0,0,0,0,0,0,0,0,0,0,0
4,2021-12-04,0,0,0,0,0,0,0,0,0,0,0,0

In [181]:
## Salvar o DataFrame final em um arquivo TSV
#bars.to_csv('bar_panels.tsv', sep='\t', index=False)
## Salvar excel
bars.to_excel('bar_panels.xlsx', index=False)

### Lineplot

In [182]:
lines = pd.read_csv("lineplot/combined_matrix_country_posrate_full_weeks.tsv", sep='\t')
lines.tail(3)

,country,pathogen,test_result,2021-11-06,2021-11-13,2021-11-20,2021-11-27,2021-12-04,2021-12-11,2021-12-18,...,2023-06-24,2023-07-01,2023-07-08,2023-07-15,2023-07-22,2023-07-29,2023-08-05,2023-08-12,2023-08-19,2023-08-26
9,Brazil,RINO,Pos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.240741,0.278146,0.344262,0.242718,0.271845,0.176471,0.211538,0.279570,0.321429,0.481928
10,Brazil,SC2,Pos,NaN,NaN,NaN,NaN,0.028033,0.024479,0.02276,...,0.073443,0.067293,0.066031,0.069961,0.070789,0.085264,0.089506,0.107534,0.152698,0.148047
11,Brazil,VSR,Pos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.065816,0.058359,0.074484,0.083402,0.062271,0.071429,0.061856,0.040310,0.031250,0.088542

In [183]:
## Remover a coluna "country"
lines.drop(['country','test_result'], axis=1, inplace=True)

In [184]:
## Converter a matriz em um DataFrame
lines_melted = pd.melt(lines, id_vars=['pathogen'], var_name='semana epidemiológica', value_name='casos').reset_index(drop=True)
lines_melted.tail(3)

     pathogen semana epidemiológica     casos
1137     RINO            2023-08-26  0.481928
1138      SC2            2023-08-26  0.148047
1139      VSR            2023-08-26  0.088542

In [185]:
## Pivotar os dados para ter os nomes dos patógenos como colunas e a soma dos valores positivos como linhas
lines_piv = lines_melted.pivot_table(index='semana epidemiológica', columns='pathogen', values='casos', aggfunc='sum').reset_index()
lines_piv.head()

pathogen,semana epidemiológica,ADENO,BAC,BOCA,COVS,ENTERO,FLUA,FLUB,META,PARA,RINO,SC2,VSR
0,2021-11-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1,2021-11-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
2,2021-11-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
3,2021-11-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
4,2021-12-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.028033,0.0

In [186]:
## Reordenar as colunas e renomear
lines_piv = lines_piv.reindex(columns=['semana epidemiológica', 'RINO', 'ENTERO', 'META', 'PARA', 'BOCA', 'COVS','ADENO', 'BAC','FLUA', 'FLUB', 'SC2', 'VSR'])
lines_piv = lines_piv.rename(columns={'RINO': 'Rinovírus', 'ENTERO': 'Enterovírus', 'META': 'Metapneumovírus', 'PARA': 'Vírus Parainfluenza', 'BOCA': 'Bocavírus', 'COVS': 'Coronavírus sazonais', 'ADENO': 'Adenovírus', 'BAC': 'Bactérias', 'FLUA': 'Influenza A',  'FLUB': 'Influenza B', 'SC2':'SARS-CoV-2', 'VSR':'Vírus Sincicial Respiratório'})
lines_piv.head()

pathogen,semana epidemiológica,Rinovírus,Enterovírus,Metapneumovírus,Vírus Parainfluenza,Bocavírus,Coronavírus sazonais,Adenovírus,Bactérias,Influenza A,Influenza B,SARS-CoV-2,Vírus Sincicial Respiratório
0,2021-11-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1,2021-11-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
2,2021-11-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
3,2021-11-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
4,2021-12-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.028033,0.0

In [187]:
## Salvar o DataFrame final em um arquivo TSV
#lines_piv.to_csv('lines_full.tsv', sep='\t', index=False)
## Salvar excel
lines_piv.to_excel('line_full.xlsx', index=False)

### Heatmap

#### Positivos

In [3]:
heat = pd.read_csv("matrix_agegroups_weeks_FLUA_posrate.tsv", sep='\t')
heat.head(3)

,FLUA_test_result,age_group,country,2022-01-01,2022-01-08,2022-01-15,2022-01-22,2022-01-29,2022-02-05,2022-02-12,...,2023-11-25,2023-12-02,2023-12-09,2023-12-16,2023-12-23,2023-12-30,2024-01-06,2024-01-13,2024-01-20,2024-01-27
0,Pos,0-4,Brazil,0.372671,0.354276,0.200843,0.116788,0.057621,0.021505,0.009501,...,0.010135,0.013514,0.008230,0.014652,0.064103,0.075630,0.062992,0.150376,0.135593,NaN
1,Pos,19-29,Brazil,0.229730,0.193548,0.118557,0.083533,0.046475,0.019663,0.011418,...,0.023256,0.064935,0.000000,0.025641,0.098901,0.131579,0.266055,0.204724,0.114754,NaN
2,Pos,29-39,Brazil,0.228188,0.163611,0.095238,0.072762,0.032272,0.015181,0.012048,...,0.046243,0.016129,0.057143,0.068750,0.041379,0.085271,0.163934,0.145695,0.100840,NaN

In [6]:
## Remover colunas com valores NaN e a coluna "country"
heat_cleaned = heat.drop('country', axis=1) #.dropna(axis=1)

## Renomear a coluna "age_group" para "faixas_etarias"
heat_cleaned = heat_cleaned.rename(columns={'age_group': 'faixas etárias'})

## Remover linhas com "Não Detectado" ou "Not tested"
heat_cleaned = heat_cleaned.loc[~heat_cleaned['FLUA_test_result'].str.contains('Não Detectado|Not tested')]

## Substituir as faixas etárias no DataFrame
heat_cleaned['faixas etárias'] = heat_cleaned['faixas etárias'].replace({'0-4': '00-04', '4-9': '04-09', '9-19': '09-19'})

heat_cleaned.head(3)

,FLUA_test_result,faixas etárias,2022-01-01,2022-01-08,2022-01-15,2022-01-22,2022-01-29,2022-02-05,2022-02-12,2022-02-19,...,2023-11-25,2023-12-02,2023-12-09,2023-12-16,2023-12-23,2023-12-30,2024-01-06,2024-01-13,2024-01-20,2024-01-27
0,Pos,00-04,0.372671,0.354276,0.200843,0.116788,0.057621,0.021505,0.009501,0.002058,...,0.010135,0.013514,0.008230,0.014652,0.064103,0.075630,0.062992,0.150376,0.135593,NaN
1,Pos,19-29,0.229730,0.193548,0.118557,0.083533,0.046475,0.019663,0.011418,0.013267,...,0.023256,0.064935,0.000000,0.025641,0.098901,0.131579,0.266055,0.204724,0.114754,NaN
2,Pos,29-39,0.228188,0.163611,0.095238,0.072762,0.032272,0.015181,0.012048,0.005938,...,0.046243,0.016129,0.057143,0.068750,0.041379,0.085271,0.163934,0.145695,0.100840,NaN

In [7]:
## Derreter (melt) as colunas de data em uma coluna
heat_melted = pd.melt(heat_cleaned, id_vars=['FLUA_test_result', 'faixas etárias'], var_name='semana epidemiológica', value_name='percentual')
heat_melted.head(3)

  FLUA_test_result faixas etárias semana epidemiológica  percentual
0              Pos          00-04            2022-01-01    0.372671
1              Pos          19-29            2022-01-01    0.229730
2              Pos          29-39            2022-01-01    0.228188

In [8]:
## Transformar os valores da coluna "n" em percentuais
heat_melted['percentual'] = heat_melted['percentual'].apply(lambda x: f'{round(x * 100, 2)}%')
#heat_melted = heat_melted.sort_values('faixas etárias')
heat_melted.head(3)

  FLUA_test_result faixas etárias semana epidemiológica percentual
0              Pos          00-04            2022-01-01     37.27%
1              Pos          19-29            2022-01-01     22.97%
2              Pos          29-39            2022-01-01     22.82%

In [32]:
## Filtrar os valores positivos e negativos
heat_melted_positivos = heat_melted[heat_melted['FLUA_test_result'] == 'Pos'].reset_index(drop=True)
# heat_melted_negativos = heat_melted[heat_melted['SC2_test_result'] == 'Negative'].reset_index(drop=True)

## transformar faixas etárias em string
heat_melted_positivos['faixas etárias'] = heat_melted_positivos['faixas etárias'].astype(str)

## transformar semana epidemiológica em dtype striing para facilitar ordenamento
# heat_melted_positivos['semana epidemiológica'] = heat_melted_positivos['semana epidemiológica'].astype(str)

heat_melted_positivos['semana epidemiológica'] = pd.to_datetime(heat_melted_positivos['semana epidemiológica'], format='%Y-%m-%d')
# Remover a parte da hora, mantendo apenas a data
heat_melted_positivos['semana epidemiológica'] = heat_melted_positivos['semana epidemiológica'].dt.date


## verificar dtypes
heat_melted_positivos.dtypes

heat_melted_positivos.head(3)

  FLUA_test_result faixas etárias semana epidemiológica percentual
0              Pos          00-04            2022-01-01     37.27%
1              Pos          19-29            2022-01-01     22.97%
2              Pos          29-39            2022-01-01     22.82%

In [33]:
## Escrever o DataFrame final positivo em um arquivo TSV
#heat_melted_positivos.to_csv('figures/_flourish/heatmap_SC2demog.tsv', sep='\t', index=False)

## Escrever o DataFrame final positivo em um arquivo excel -
heat_melted_positivos.to_excel('heatmap_FLUA_demog.xlsx', index=False)

#### Estados

In [194]:
## Carregar tabela
heat_ufs = pd.read_csv("heatmap/combined_matrix_state_posrate_full_weeks.tsv", sep='\t')
heat_ufs.head(3)

,state,pathogen,test_result,state_code,country,2021-11-06,2021-11-13,2021-11-20,2021-11-27,2021-12-04,...,2023-06-24,2023-07-01,2023-07-08,2023-07-15,2023-07-22,2023-07-29,2023-08-05,2023-08-12,2023-08-19,2023-08-26
0,Acre,ADENO,Pos,AC,Brazil,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Acre,BAC,Pos,AC,Brazil,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Acre,COVS,Pos,AC,Brazil,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [195]:
## Correções pontuais
# Converter "RIO DE JANEIRO" para "Rio de Janeiro" em letras minúsculas
heat_ufs['state'] = heat_ufs['state'].replace({'rio de janeiro': 'Rio de Janeiro'})
heat_ufs['state_code'] = heat_ufs['state_code'].replace({'0': 'RJ'})

In [196]:
melted_ufs = heat_ufs.melt(id_vars=['state', 'pathogen', 'test_result', 'state_code', 'country'],
                    var_name='semana epidemiológica',
                    value_name='percentual')
melted_ufs.head()

,state,pathogen,test_result,state_code,country,semana epidemiológica,percentual
0,Acre,ADENO,Pos,AC,Brazil,2021-11-06,NaN
1,Acre,BAC,Pos,AC,Brazil,2021-11-06,NaN
2,Acre,COVS,Pos,AC,Brazil,2021-11-06,NaN
3,Acre,FLUA,Pos,AC,Brazil,2021-11-06,NaN
4,Acre,FLUB,Pos,AC,Brazil,2021-11-06,NaN

In [197]:
## Transformar os valores da coluna "n" em percentuais
melted_ufs['percentual'] = melted_ufs['percentual'].apply(lambda x: f'{round(x * 100, 2)}')
#heat_melted = heat_melted.sort_values('faixas etárias')
melted_ufs.head(3)

,state,pathogen,test_result,state_code,country,semana epidemiológica,percentual
0,Acre,ADENO,Pos,AC,Brazil,2021-11-06,nan
1,Acre,BAC,Pos,AC,Brazil,2021-11-06,nan
2,Acre,COVS,Pos,AC,Brazil,2021-11-06,nan

In [198]:
## Filtrar as linhas
heatmap_sc2 = melted_ufs[melted_ufs['pathogen'] == 'SC2']

In [199]:
## Remover e renomear colunas
columns_to_remove = ['state', 'test_result', 'country', 'pathogen']
heatmap_uf_sc2 = heatmap_sc2.drop(columns=columns_to_remove)

# Renomear coluna
heatmap_uf_sc2 = heatmap_uf_sc2.rename(columns={'state_code': 'UF'})
heatmap_uf_sc2.head(10)

     UF semana epidemiológica percentual
8    AC            2021-11-06        nan
18   AL            2021-11-06        nan
28   AP            2021-11-06        nan
40   AM            2021-11-06        nan
52   BA            2021-11-06        nan
62   CE            2021-11-06        nan
74   DF            2021-11-06        nan
84   ES            2021-11-06        nan
96   GO            2021-11-06        nan
106  MA            2021-11-06        nan

In [200]:
print(heatmap_uf_sc2.loc[heatmap_uf_sc2['UF'] == 'RJ'])

       UF semana epidemiológica percentual
204    RJ            2021-11-06        nan
494    RJ            2021-11-13        nan
784    RJ            2021-11-20        nan
1074   RJ            2021-11-27        nan
1364   RJ            2021-12-04       3.44
...    ..                   ...        ...
26304  RJ            2023-07-29        2.2
26594  RJ            2023-08-05       8.05
26884  RJ            2023-08-12        nan
27174  RJ            2023-08-19        nan
27464  RJ            2023-08-26      21.33

[95 rows x 3 columns]

In [201]:
## convertendo 'nan' para  NaN
heatmap_uf_sc2.replace('nan', np.nan, inplace=True)

## Filtrar estados com mais de 80% dos dados preenchidos diferentes de "nan" na coluna "percentual" por estado
porcentagem = heatmap_uf_sc2.groupby('UF')['percentual'].apply(lambda x: (x.notna().sum() / len(x)) * 100)

## Selecionar os estados com mais de 80% das linhas com dados diferentes de "nan"
estados_selecionados = porcentagem[porcentagem > 80].index

## Criar o novo DataFrame contendo apenas os estados selecionados
heatmap_ufs = heatmap_uf_sc2[heatmap_uf_sc2['UF'].isin(estados_selecionados)].dropna()

print(heatmap_ufs)

       UF semana epidemiológica percentual
1364   RJ            2021-12-04       3.44
1416   SC            2021-12-04       2.67
1438   SP            2021-12-04       2.53
1592   MG            2021-12-11        0.0
1654   RJ            2021-12-11       0.73
...    ..                   ...        ...
27414  PR            2023-08-26      14.06
27444  PE            2023-08-26       1.82
27464  RJ            2023-08-26      21.33
27516  SC            2023-08-26        7.2
27538  SP            2023-08-26      16.79

[939 rows x 3 columns]

In [202]:
print(heatmap_ufs.loc[heatmap_ufs['UF'] == 'RJ'])

       UF semana epidemiológica percentual
1364   RJ            2021-12-04       3.44
1654   RJ            2021-12-11       0.73
1944   RJ            2021-12-18       0.57
2234   RJ            2021-12-25       3.37
2524   RJ            2022-01-01      20.44
...    ..                   ...        ...
25724  RJ            2023-07-15       3.27
26014  RJ            2023-07-22       1.67
26304  RJ            2023-07-29        2.2
26594  RJ            2023-08-05       8.05
27464  RJ            2023-08-26      21.33

[89 rows x 3 columns]

In [203]:
## ordenar estados - paliativo enquanto não ajusta para Snakemake
regioes = {
    'Norte': ['AC', 'AM', 'AP', 'PA', 'RO', 'RR', 'TO'],
    'Nordeste': ['AL', 'BA', 'CE', 'MA', 'PB', 'PE', 'PI', 'RN', 'SE'],
    'Sudeste': ['ES', 'MG', 'RJ', 'SP'],
    'Sul': ['PR', 'RS', 'SC'],
    'Centro-Oeste': ['DF', 'GO', 'MT', 'MS']
}

## Mapear as informações de região no DataFrame
heatmap_ufs['Regiao'] = heatmap_ufs['UF'].map({estado: regiao for regiao, estados in regioes.items() for estado in estados})

## Ordenar o DataFrame por região e em ordem alfabética
heatmap_ufs = heatmap_ufs.sort_values(['Regiao', 'UF'])

print(heatmap_ufs)

       UF semana epidemiológica percentual        Regiao
2394   DF            2022-01-01      14.26  Centro-Oeste
2684   DF            2022-01-08      29.49  Centro-Oeste
2974   DF            2022-01-15      39.38  Centro-Oeste
3264   DF            2022-01-22      51.04  Centro-Oeste
3554   DF            2022-01-29      54.49  Centro-Oeste
...    ..                   ...        ...           ...
26356  SC            2023-07-29       3.23           Sul
26646  SC            2023-08-05       1.61           Sul
26936  SC            2023-08-12       2.06           Sul
27226  SC            2023-08-19       4.67           Sul
27516  SC            2023-08-26        7.2           Sul

[939 rows x 4 columns]

In [204]:
## salvar excel
heatmap_ufs.to_excel('heatmap_states.xlsx', index=False)

### Pyramid

#### Transformação exploratória

Transformando o `combined_matrix_agegroups.tsv` em algo similar ao dataframe `combined_matrix_totaltestpanel_agegroups_pos.tsv`

In [205]:
pyr = pd.read_csv("pyramid/combined_matrix_agegroup.tsv", sep='\t')
pyr.head(3)

,name,pathogen,test_result,epiweek,0-4,19-29,29-39,39-49,4-9,49-59,59-69,69-79,80+,9-19
0,Brasil,FLUB,Pos,2022-01-01,0,0,0,0,0,0,0,0,0,0
1,Brasil,BOCA,Neg,2022-01-01,0,5,4,3,3,3,1,2,4,4
2,Brasil,VSR,Neg,2022-01-01,3,5,4,3,4,3,0,1,3,7

In [206]:
# Dicionário de mapeamento para substituir os nomes das colunas
column_mapping = {'0-4': '00-04', '4-9': '04-09', '9-19': '09-19'}

# Substituir os nomes das colunas
pyr = pyr.rename(columns=column_mapping)

In [207]:
# Filtrar os patógenos SC2, VSR, FLUB e FLUA que são positivos na coluna "test_result"
pyr_pos = pyr.query('pathogen in ["SC2", "VSR", "FLUB", "FLUA"] and test_result == "Pos"')

# Remover as colunas "name" e "test_result"
pyr_pos = pyr_pos.drop(['name', 'test_result'], axis=1)

pyr_pos.head(3)

,pathogen,epiweek,00-04,19-29,29-39,39-49,04-09,49-59,59-69,69-79,80+,09-19
0,FLUB,2022-01-01,0,0,0,0,0,0,0,0,0,0
14,FLUA,2022-01-01,1,4,3,3,3,1,0,1,2,5
21,VSR,2022-01-01,1,0,0,0,0,0,1,1,1,0

In [208]:
# Primeira etapa de melt para as faixas_etarias
melted_df = pd.melt(pyr_pos, id_vars=['pathogen', 'epiweek'], var_name='faixa_etaria', value_name='pathogen')
melted_df.head(3)

/var/folders/gt/c4rqf02d5m731j41w9p5mt2h0000gp/T/ipykernel_68475/2831862947.py:2: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  melted_df = pd.melt(pyr_pos, id_vars=['pathogen', 'epiweek'], var_name='faixa_etaria', value_name='pathogen')

   pathogen     epiweek faixa_etaria  pathogen
0         0  2022-01-01        00-04         0
1         1  2022-01-01        00-04         1
2         1  2022-01-01        00-04         1

In [209]:
## Escrever o DataFrame final positivo em um arquivo excel -
# pyr_pos.to_excel('pyr_agegroups.xlsx', index=False)
# pyr_pos.to_excel('pyr_melt_agegroups.xlsx', index=False)

In [210]:
pyr_pos.head()

,pathogen,epiweek,00-04,19-29,29-39,39-49,04-09,49-59,59-69,69-79,80+,09-19
0,FLUB,2022-01-01,0,0,0,0,0,0,0,0,0,0
14,FLUA,2022-01-01,1,4,3,3,3,1,0,1,2,5
21,VSR,2022-01-01,1,0,0,0,0,0,1,1,1,0
23,SC2,2022-01-01,1,0,2,1,0,1,0,0,1,3
28,FLUB,2022-01-08,0,0,0,0,0,0,0,0,0,0

#### Pyr totaltestpanel

In [211]:
pyr_t = pd.read_csv("pyramid/combined_matrix_agegroup.tsv", sep='\t')
pyr_t.head(3)

,name,pathogen,test_result,epiweek,0-4,19-29,29-39,39-49,4-9,49-59,59-69,69-79,80+,9-19
0,Brasil,FLUB,Pos,2022-01-01,0,0,0,0,0,0,0,0,0,0
1,Brasil,BOCA,Neg,2022-01-01,0,5,4,3,3,3,1,2,4,4
2,Brasil,VSR,Neg,2022-01-01,3,5,4,3,4,3,0,1,3,7

In [212]:
# Dicionário de mapeamento para substituir os nomes das colunas
column_mapping = {'0-4': '00-04', '4-9': '04-09', '9-19': '09-19'}

# Substituir os nomes das colunas
pyr_t = pyr_t.rename(columns=column_mapping)
pyr_t.head(3)

,name,pathogen,test_result,epiweek,00-04,19-29,29-39,39-49,04-09,49-59,59-69,69-79,80+,09-19
0,Brasil,FLUB,Pos,2022-01-01,0,0,0,0,0,0,0,0,0,0
1,Brasil,BOCA,Neg,2022-01-01,0,5,4,3,3,3,1,2,4,4
2,Brasil,VSR,Neg,2022-01-01,3,5,4,3,4,3,0,1,3,7

In [213]:
pyr_t_melt = pyr_t.melt(id_vars=['name', 'pathogen', 'test_result', 'epiweek'], var_name='faixas_etárias', value_name='casos')
pyr_t_melt.tail(3)

         name pathogen test_result     epiweek faixas_etárias  casos
21117  Brasil      SC2         Pos  2023-09-02          09-19      0
21118  Brasil    ADENO         Pos  2023-09-02          09-19      0
21119  Brasil     RINO         Neg  2023-09-02          09-19      0

In [214]:
## Filtrar apenas os valores positivos
pyr_pos = pyr_t_melt[pyr_t_melt['test_result'] == 'Pos'].reset_index(drop=True)
pyr_pos.tail(3)

         name pathogen test_result     epiweek faixas_etárias  casos
10557  Brasil     FLUA         Pos  2023-09-02          09-19      0
10558  Brasil      SC2         Pos  2023-09-02          09-19      0
10559  Brasil    ADENO         Pos  2023-09-02          09-19      0

In [215]:
## Pivotar os dados para ter os nomes dos patógenos como colunas e a soma dos valores positivos como linhas
pyr_piv = pyr_pos.pivot_table(index=('epiweek','faixas_etárias'), columns='pathogen', values='casos', aggfunc='sum').reset_index()
pyr_piv.head()

pathogen,epiweek,faixas_etárias,ADENO,BAC,BOCA,COVS,ENTERO,FLUA,FLUB,META,PARA,RINO,SC2,VSR
0,2022-01-01,00-04,0,0,2,0,0,1,0,0,0,0,1,1
1,2022-01-01,04-09,0,0,0,0,0,3,0,0,0,0,0,0
2,2022-01-01,09-19,0,0,0,0,0,5,0,0,1,0,3,0
3,2022-01-01,19-29,0,0,0,0,0,4,0,0,0,0,0,0
4,2022-01-01,29-39,0,0,0,0,0,3,0,0,0,1,2,0

In [216]:
## Datas a serem filtradas
datas_filtradas = ['2023-07-29', '2023-08-05', '2023-08-12', '2023-08-19']

#3 Filtrar as linhas com base nas datas
pyr_dates = pyr_piv[pyr_piv['epiweek'].isin(datas_filtradas)]

In [217]:
## Reordenar as colunas e renomear
pyr_ages = pyr_dates.reindex(columns=['epiweek', 'faixas_etárias', 'RINO', 'ENTERO', 'META', 'PARA', 'BOCA', 'COVS','ADENO', 'BAC','FLUA', 'FLUB', 'SC2', 'VSR'])
pyr_ages = pyr_ages.rename(columns={'epiweek':'semana_epidemiológica','RINO': 'Rinovírus', 'ENTERO': 'Enterovírus', 'META': 'Metapneumovírus', 'PARA': 'Vírus Parainfluenza', 'BOCA': 'Bocavírus', 'COVS': 'Coronavírus sazonais', 'ADENO': 'Adenovírus', 'BAC': 'Bactérias', 'FLUA': 'Influenza A',  'FLUB': 'Influenza B', 'SC2':'SARS-CoV-2', 'VSR':'Vírus Sincicial Respiratório'})
pyr_ages.head()

pathogen,semana_epidemiológica,faixas_etárias,Rinovírus,Enterovírus,Metapneumovírus,Vírus Parainfluenza,Bocavírus,Coronavírus sazonais,Adenovírus,Bactérias,Influenza A,Influenza B,SARS-CoV-2,Vírus Sincicial Respiratório
820,2023-07-29,00-04,0,0,0,3,0,1,2,0,4,0,3,23
821,2023-07-29,04-09,1,0,0,0,0,0,0,0,5,0,0,1
822,2023-07-29,09-19,0,0,0,0,0,0,0,0,2,0,0,0
823,2023-07-29,19-29,0,0,0,0,0,1,0,0,2,1,2,1
824,2023-07-29,29-39,0,0,0,0,0,0,0,0,1,0,6,0

In [218]:
## Salvar excel
pyr_ages.to_excel('pyr_agegroups.xlsx', index=False) #versão final da pirâmide

### Labs testes

In [ ]:
heatlabs = pd.read_csv("matrix_FLUA_country_posneg_labtests.tsv", sep='\t')
heatlabs.head(3)

In [ ]:
## Remover colunas com valores NaN e a coluna "country"
heatlabs_cleaned = heatlabs.dropna(axis=1).drop(['country','pathogen'], axis=1)
heatlabs_cleaned.head(3)

,test_kit,lab_id,test_result,2021-11-01,2021-11-02,2021-11-03,2021-11-04,2021-11-05,2021-11-06,2021-11-07,...,2023-06-06,2023-06-07,2023-06-08,2023-06-09,2023-06-10,2023-06-11,2023-06-12,2023-06-13,2023-06-14,2023-06-15
0,covid_antigen,DASA,Neg,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,covid_antigen,DASA,Pos,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,covid_pcr,DASA,Neg,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
## Derreter (melt) as colunas de data em uma coluna
heatlabs_melted = pd.melt(heatlabs_cleaned, id_vars=['test_kit', 'lab_id', 'test_result'], var_name='semana epidemiológica', value_name='testes')
heatlabs_melted.head(3)

        test_kit lab_id test_result semana epidemiológica  testes
0  covid_antigen   DASA         Neg            2021-11-01       0
1  covid_antigen   DASA         Pos            2021-11-01       0
2      covid_pcr   DASA         Neg            2021-11-01       0

In [ ]:
## Escrever o DataFrame final positivo em um arquivo excel -
heatlabs_melted.to_excel('heatlabs.xlsx', index=False)

## Arbo

### Pirâmide

In [7]:
import pandas as pd
## Carregando o dataset
pyr_arbo_w = pd.read_csv('data/combined_matrix_agegroup_weeks.tsv', sep='\t')
pyr_arbo_m = pd.read_csv('data/combined_matrix_agegroup_months.tsv', sep='\t')

pyr_arbo_w.head(3)
pyr_arbo_m.tail(3)

,name,pathogen,month,test_result,00-04,05-09,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+
153,Brasil,DENV,2024-01,Neg,50,80,140,211,298,307,107,64,24,10
154,Brasil,CHIKV,2024-01,Neg,0,0,1,0,0,3,3,0,2,0
155,Brasil,CHIKV,2024-01,Pos,0,0,0,0,0,0,0,0,0,0

In [8]:
pyr_a_melt_w = pyr_arbo_w.melt(id_vars=['name', 'pathogen', 'test_result', 'epiweek_enddate'], var_name='faixas_etárias', value_name='casos')
pyr_a_melt_m = pyr_arbo_m.melt(id_vars=['name', 'pathogen', 'test_result', 'month'], var_name='faixas_etárias', value_name='casos')

pyr_a_melt_w.head()
pyr_a_melt_m.tail()

        name pathogen test_result    month faixas_etárias  casos
1555  Brasil     ZIKV         Pos  2024-01            80+      0
1556  Brasil     ZIKV         Neg  2024-01            80+      0
1557  Brasil     DENV         Neg  2024-01            80+     10
1558  Brasil    CHIKV         Neg  2024-01            80+      0
1559  Brasil    CHIKV         Pos  2024-01            80+      0

In [11]:
## Filtrar apenas os valores positivos
pyr_a_pos_w = pyr_a_melt_w[pyr_a_melt_w['test_result'] == 'Pos'].reset_index(drop=True)
pyr_a_pos_m = pyr_a_melt_m[pyr_a_melt_m['test_result'] == 'Pos'].reset_index(drop=True)

## remover colunas name e test_result
pyr_a_pos_w.drop(['name', 'test_result'], axis=1, inplace=True)
pyr_a_pos_m.drop(['name', 'test_result'], axis=1, inplace=True)

pyr_a_pos_w.head()
pyr_a_pos_m.tail()

    pathogen    month faixas_etárias  casos
775     DENV  2023-12            80+      3
776    CHIKV  2023-12            80+      0
777     DENV  2024-01            80+      3
778     ZIKV  2024-01            80+      0
779    CHIKV  2024-01            80+      0

In [13]:
## Pivotar os dados para ter os nomes dos patógenos como colunas e a soma dos valores positivos como linhas
## Semanas
pyr_a_piv_w = pyr_a_pos_w.pivot_table(index=('epiweek_enddate','faixas_etárias'), columns='pathogen', values='casos', aggfunc='sum').reset_index()
## Meses
pyr_a_piv_m = pyr_a_pos_m.pivot_table(index=('month','faixas_etárias'), columns='pathogen', values='casos', aggfunc='sum').reset_index()
## remover colunas pathogen
# pyr_a_piv_w.drop('pathogen', axis=1, inplace=True)

pyr_a_piv_w.head()
pyr_a_piv_m.tail()

pathogen    month faixas_etárias  CHIKV  DENV  ZIKV
255       2024-01          40-49      0    52     0
256       2024-01          50-59      0    14     0
257       2024-01          60-69      0    15     0
258       2024-01          70-79      0     5     0
259       2024-01            80+      0     3     0

In [15]:
## renomear coluna epiweek_enddate
pyr_a_piv_w = pyr_a_piv_w.rename(columns={'epiweek_enddate': 'semana epidemiológica'})
pyr_a_piv_m = pyr_a_piv_m.rename(columns={'month': 'meses'})

pyr_a_piv_w.head()
pyr_a_piv_m.tail()

pathogen    meses faixas_etárias  CHIKV  DENV  ZIKV
255       2024-01          40-49      0    52     0
256       2024-01          50-59      0    14     0
257       2024-01          60-69      0    15     0
258       2024-01          70-79      0     5     0
259       2024-01            80+      0     3     0

In [17]:
## Salvar excel
pyr_a_piv_w.to_excel('data/pyr_agegroups_weeks.xlsx', index=False) #versão final da pirâmide
pyr_a_piv_m.to_excel('data/pyr_agegroups_months.xlsx', index=False) #versão final da pirâmide