# Flourish plots

Influenza A:#1f3d7a
Influenza B:#5ea6ed
Vírus Sincicial Respiratório:#DF4F4F
SARS-CoV-2:#1B8B5B
Coronavírus sazonais:#40bf88
Metapneumovírus:#e699b0
Rinovírus:#671d8c
Enterovírus:#ad5cd6
Vírus Parainfluenza:#d97726
Bocavírus:#f0b642
Adenovírus:#70c2c2
Bactérias:#ABABAB
Pos:#F26F61
Neg:#577DBD
SGTP:#ABABAB
SGTF:#016C59

## Libs

In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
## Where am I?
dir_path = os.getcwd()

## print directory where am I
print(dir_path)

/Users/bragatte/Library/CloudStorage/GoogleDrive-marcelo.bragatte@itps.org.br/Drives compartilhados/ITpS PROJETOS/PROJETOS/Projetos 2024/2 - Análises/P211 - RADIM/P211a - Monitoramento Patógenos/P211a - tec/arbovirus/analises_arbo/20230507_arbo_SE18/snakemake/figures/flourish

In [6]:
pwd

'/Users/bragatte/Library/CloudStorage/GoogleDrive-marcelo.bragatte@itps.org.br/Drives compartilhados/ITpS PROJETOS/PROJETOS/Projetos 2024/2 - Análises/P211 - RADIM/P211a - Monitoramento Patógenos/P211a - tec/arbovirus/analises_arbo/20230507_arbo_SE18/snakemake/figures/flourish'

In [7]:
# Set root path
path_project = '/Users/bragatte/Library/CloudStorage/GoogleDrive-marcelo.bragatte@itps.org.br/Drives compartilhados/ITpS PROJETOS/PROJETOS/Projetos 2024/2 - Análises/P211 - RADIM/P211a - Monitoramento Patógenos/P211a - tec/arbovirus/analises_arbo/20230507_arbo_SE18'

# Change work directory for path_project
os.chdir(path_project)

## Heatmap

### Positivos

In [8]:
heat_noigg = pd.read_csv("matrix_ALL_country_agegroup_noigg.tsv", sep='\t')

heat_noigg.head(3)

,country,pathogen,epiweek_enddate,test_result,00-04,05-09,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,NOT REPORTED
0,Brasil,CHIKV,2020-07-11,Pos,0,0,0,0,0,0,0,0,0,0,0
1,Brasil,CHIKV,2020-07-11,Neg,0,0,0,0,0,0,0,0,0,0,0
2,Brasil,DENV,2020-07-11,Pos,0,0,1,0,0,0,0,0,0,0,0

In [9]:
# heat = pd.read_csv("matrix_agegroups_weeks_FLUA_posrate.tsv", sep='\t')
heat = pd.read_csv("snakemake/results/demography/matrix_agegroups_weeks_DENV_posrate.tsv", sep='\t')

heat.head(3)

,DENV_test_result,age_group,country,2020-07-11,2021-04-10,2021-07-31,2022-01-01,2022-01-08,2022-01-15,2022-01-22,...,2024-02-24,2024-03-02,2024-03-09,2024-03-16,2024-03-23,2024-03-30,2024-04-06,2024-04-13,2024-04-20,2024-04-27
0,Pos,00-04,Brasil,NaN,NaN,NaN,NaN,0.071429,0.084507,0.053140,...,0.057716,0.047805,0.073194,0.106364,0.093197,0.103022,0.100575,0.104464,0.090826,0.176471
1,Pos,05-09,Brasil,NaN,NaN,NaN,NaN,0.137255,0.094595,0.126984,...,0.134483,0.106776,0.170520,0.175248,0.190947,0.207459,0.197479,0.195543,0.189376,0.154930
2,Pos,10-19,Brasil,NaN,NaN,NaN,NaN,0.100000,0.151515,0.145299,...,0.149407,0.157653,0.214808,0.236533,0.280409,0.327619,0.253795,0.286966,0.256824,0.299213

In [23]:
## Remover colunas com valores NaN e a coluna "country"
heat_cleaned = heat.drop('country', axis=1) #.dropna(axis=1)

## Renomear a coluna "age_group" para "faixas_etarias"
heat_cleaned = heat_cleaned.rename(columns={'age_group': 'faixas etárias'})

## Remover linhas com "Não Detectado" ou "Not tested"
heat_cleaned = heat_cleaned.loc[~heat_cleaned['DENV_test_result'].str.contains('Não Detectado|Not tested')]

## Substituir as faixas etárias no DataFrame
heat_cleaned['faixas etárias'] = heat_cleaned['faixas etárias'].replace({'0-4': '00-04', '4-9': '05-09', '9-19': '10-19', '19-29': '20-29', '29-39': '30-39', '39-49': '40-49', '49-59': '50-59', '59-69': '60-69', '69-79': '70-79'})

heat_cleaned.head(3)

,DENV_test_result,faixas etárias,2020-07-11,2021-04-10,2021-07-31,2022-01-01,2022-01-08,2022-01-15,2022-01-22,2022-01-29,...,2024-02-24,2024-03-02,2024-03-09,2024-03-16,2024-03-23,2024-03-30,2024-04-06,2024-04-13,2024-04-20,2024-04-27
0,Pos,00-04,NaN,NaN,NaN,NaN,0.071429,0.084507,0.053140,0.083333,...,0.057716,0.047805,0.073194,0.106364,0.093197,0.103022,0.100575,0.104464,0.090826,0.176471
1,Pos,05-09,NaN,NaN,NaN,NaN,0.137255,0.094595,0.126984,0.141361,...,0.134483,0.106776,0.170520,0.175248,0.190947,0.207459,0.197479,0.195543,0.189376,0.154930
2,Pos,10-19,NaN,NaN,NaN,NaN,0.100000,0.151515,0.145299,0.230088,...,0.149407,0.157653,0.214808,0.236533,0.280409,0.327619,0.253795,0.286966,0.256824,0.299213

In [24]:
## Derreter (melt) as colunas de data em uma coluna
heat_melted = pd.melt(heat_cleaned, id_vars=['DENV_test_result', 'faixas etárias'], var_name='semana epidemiológica', value_name='percentual')
heat_melted.head(3)

  DENV_test_result faixas etárias semana epidemiológica  percentual
0              Pos          00-04            2020-07-11         NaN
1              Pos          05-09            2020-07-11         NaN
2              Pos          10-19            2020-07-11         NaN

In [25]:
## Transformar os valores da coluna "n" em percentuais
heat_melted['percentual'] = heat_melted['percentual'].apply(lambda x: f'{round(x * 100, 2)}%')
#heat_melted = heat_melted.sort_values('faixas etárias')
heat_melted.head(3)

  DENV_test_result faixas etárias semana epidemiológica percentual
0              Pos          00-04            2020-07-11       nan%
1              Pos          05-09            2020-07-11       nan%
2              Pos          10-19            2020-07-11       nan%

In [26]:
## Filtrar os valores positivos e negativos
heat_melted_positivos = heat_melted[heat_melted['DENV_test_result'] == 'Pos'].reset_index(drop=True)
# heat_melted_negativos = heat_melted[heat_melted['DENV_test_result'] == 'Negative'].reset_index(drop=True)
heat_melted_positivos.head(3)

  DENV_test_result faixas etárias semana epidemiológica percentual
0              Pos          00-04            2020-07-11       nan%
1              Pos          05-09            2020-07-11       nan%
2              Pos          10-19            2020-07-11       nan%

In [27]:
## Escrever o DataFrame final positivo em um arquivo TSV
#heat_melted_positivos.to_csv('figures/_flourish/heatmap_DENVdemog.tsv', sep='\t', index=False)

## Escrever o DataFrame final positivo em um arquivo excel -
heat_melted_positivos.to_excel('heatmap_DENVdemog.xlsx', index=False)

### Estados

In [ ]:
## Carregar tabela
heat_ufs = pd.read_csv("figures/heatmap/combined_matrix_state_posrate_direct_weeks.tsv", sep='\t')
heat_ufs.head(3)

In [ ]:
## Correções pontuais
# Converter "RIO DE JANEIRO" para "Rio de Janeiro" em letras minúsculas
heat_ufs['state'] = heat_ufs['state'].replace({'rio de janeiro': 'Rio de Janeiro'})
heat_ufs['state_code'] = heat_ufs['state_code'].replace({'0': 'RJ'})

In [ ]:
melted_ufs = heat_ufs.melt(id_vars=['state', 'pathogen', 'test_result', 'state_code', 'country'],
                    var_name='semana epidemiológica',
                    value_name='percentual')
melted_ufs.head()

In [ ]:
## Transformar os valores da coluna "n" em percentuais
melted_ufs['percentual'] = melted_ufs['percentual'].apply(lambda x: f'{round(x * 100, 2)}')
#heat_melted = heat_melted.sort_values('faixas etárias')
melted_ufs.head(3)

In [ ]:
## Filtrar as linhas
heatmap_denv = melted_ufs[melted_ufs['pathogen'] == 'DENV']

In [ ]:
## Remover e renomear colunas
columns_to_remove = ['state', 'test_result', 'country', 'pathogen']
heatmap_uf_denv = heatmap_denv.drop(columns=columns_to_remove)

# Renomear coluna
heatmap_uf_denv = heatmap_uf_denv.rename(columns={'state_code': 'UF'})
heatmap_uf_denv.head(10)

In [ ]:
print(heatmap_uf_denv.loc[heatmap_uf_denv['UF'] == 'RJ'])

In [ ]:
## convertendo 'nan' para  NaN
heatmap_uf_denv.replace('nan', np.nan, inplace=True)

## Filtrar estados com mais de 80% dos dados preenchidos diferentes de "nan" na coluna "percentual" por estado
porcentagem = heatmap_uf_denv.groupby('UF')['percentual'].apply(lambda x: (x.notna().sum() / len(x)) * 100)

## Selecionar os estados com mais de 80% das linhas com dados diferentes de "nan"
estados_selecionados = porcentagem[porcentagem > 30].index

## Criar o novo DataFrame contendo apenas os estados selecionados
heatmap_ufs = heatmap_uf_denv[heatmap_uf_denv['UF'].isin(estados_selecionados)].dropna()

print(heatmap_ufs)

In [ ]:
print(heatmap_ufs.loc[heatmap_ufs['UF'] == 'RJ'])

In [ ]:
## ordenar estados - paliativo enquanto não ajusta para Snakemake
regioes = {
    'Norte': ['AC', 'AM', 'AP', 'PA', 'RO', 'RR', 'TO'],
    'Nordeste': ['AL', 'BA', 'CE', 'MA', 'PB', 'PE', 'PI', 'RN', 'SE'],
    'Sudeste': ['ES', 'MG', 'RJ', 'SP'],
    'Sul': ['PR', 'RS', 'SC'],
    'Centro-Oeste': ['DF', 'GO', 'MT', 'MS']
}

## Mapear as informações de região no DataFrame
heatmap_ufs['Regiao'] = heatmap_ufs['UF'].map({estado: regiao for regiao, estados in regioes.items() for estado in estados})

## Ordenar o DataFrame por região e em ordem alfabética
heatmap_ufs = heatmap_ufs.sort_values(['Regiao', 'UF'])

print(heatmap_ufs)

In [ ]:
## listar estados
print(heatmap_ufs['UF'].unique())

In [ ]:
## salvar excel
heatmap_ufs.to_excel('heatmap_states.xlsx', index=False)

## Pyramid

#### Transformação exploratória

Transformando o `combined_matrix_agegroups.tsv` em algo similar ao dataframe `combined_matrix_totaltestpanel_agegroups_pos.tsv`

In [8]:
pyr = pd.read_csv("snakemake/results/demography/matrix_agegroups_weeks_DENV_posneg.tsv", sep='\t')
pyr.tail(3)

,age_group,DENV_test_result,country,2020-07-11,2021-04-10,2021-07-31,2022-01-01,2022-01-08,2022-01-15,2022-01-22,...,2024-03-09,2024-03-16,2024-03-23,2024-03-30,2024-04-06,2024-04-13,2024-04-20,2024-04-27,2024-05-04,2024-05-11
17,70-79,Pos,Brasil,0,0,0,1,11,5,12,...,270,292,338,321,314,410,412,395,374,31
18,80+,Neg,Brasil,0,0,0,6,37,32,33,...,416,364,361,266,395,383,384,386,373,41
19,80+,Pos,Brasil,0,0,0,0,4,1,6,...,138,129,151,160,151,162,177,152,177,8

In [ ]:
## LISTAR UNIQUE COLUNA PATHOGEN
# print(pyr['pathogen'].unique())

In [9]:
## Dicionário de mapeamento para substituir os nomes das colunas
column_mapping = {'0-4': '00-04', '4-9': '04-09', '9-19': '09-19'}

# Substituir os nomes das colunas
pyr = pyr.rename(columns=column_mapping)

In [ ]:
## Filtrar os patógenos 'DENV' 'OROV' 'CHIKV' 'ZIKV' que são positivos na coluna "test_result"
# pyr_pos = pyr.query('pathogen in ["DENV", "OROV", "CHIKV","ZIKV"] and test_result == "Pos"')

# Remover as colunas "name" e "test_result"
pyr_pos = pyr_pos.drop(['name', 'test_result'], axis=1)

pyr_pos.head(3)

In [ ]:
# Primeira etapa de melt para as faixas_etarias
# melted_df = pd.melt(pyr_pos, id_vars=['pathogen', 'epiweek'], var_name='faixa_etaria', value_name='pathogen')
melted_df = pd.melt(pyr_pos, id_vars=['pathogen', 'month'], var_name='faixa_etaria', value_name='pathogen')

melted_df.head(3)

In [ ]:
## Escrever o DataFrame final positivo em um arquivo excel -
# pyr_pos.to_excel('pyr_agegroups.xlsx', index=False)
# pyr_pos.to_excel('pyr_melt_agegroups.xlsx', index=False)

In [ ]:
pyr_pos.head()

### Pyr week or month

In [37]:
# pyr_t = pd.read_csv("matrix_agegroups_weeks_DENV_posneg.tsv", sep='\t')
pyr_t = pd.read_csv("snakemake/results/demography/combined_matrix_agegroup.tsv", sep='\t')
# pyr_t = pd.read_csv("matrix_DENV_agegroups.tsv", sep='\t')
pyr_t.tail(3)

,name,pathogen,month,test_result,00-04,05-09,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+
285,Brasil,DENV,2024-05,Pos,103,201,485,553,699,811,601,428,287,135
286,Brasil,ZIKV,2024-05,Pos,0,0,0,0,0,0,0,0,0,0
287,Brasil,OROV,2024-05,Pos,0,0,0,0,0,0,0,0,0,0

In [38]:
# Dicionário de mapeamento para substituir os nomes das colunas
column_mapping = {'0-4': '00-04', '4-9': '05-09', '9-19': '10-19', '19-29': '20-29', '29-39': '30-39', '39-49': '40-49', '49-59': '50-59', '59-69': '60-69', '69-79': '70-79'}

# Rename column epiweek_enddate to epiweek
pyr_t = pyr_t.rename(columns={'epiweek_enddate': 'epiweek'})

# Substituir os nomes das colunas
pyr_t = pyr_t.rename(columns=column_mapping)
pyr_t.head(3)

,name,pathogen,month,test_result,00-04,05-09,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+
0,Brasil,DENV,2010-03,Pos,0,0,0,0,0,0,0,0,0,0
1,Brasil,CHIKV,2010-03,Pos,0,0,0,0,0,0,0,0,0,0
2,Brasil,ZIKV,2010-03,Pos,0,0,0,0,0,0,0,0,0,0

In [39]:
# pyr_t_melt = pyr_t.melt(id_vars=['name', 'pathogen', 'test_result', 'epiweek'], var_name='faixas_etárias', value_name='casos')
pyr_t_melt = pyr_t.melt(id_vars=['name', 'pathogen', 'test_result', 'month'], var_name='faixas_etárias', value_name='casos')
pyr_t_melt.tail(3)

        name pathogen test_result    month faixas_etárias  casos
2877  Brasil     DENV         Pos  2024-05            80+    135
2878  Brasil     ZIKV         Pos  2024-05            80+      0
2879  Brasil     OROV         Pos  2024-05            80+      0

In [40]:
## Filtrar apenas os valores positivos
pyr_pos = pyr_t_melt[pyr_t_melt['test_result'] == 'Pos'].reset_index(drop=True)
pyr_pos.tail(3)

        name pathogen test_result    month faixas_etárias  casos
1437  Brasil     DENV         Pos  2024-05            80+    135
1438  Brasil     ZIKV         Pos  2024-05            80+      0
1439  Brasil     OROV         Pos  2024-05            80+      0

In [41]:
## Pivotar os dados para ter os nomes dos patógenos como colunas e a soma dos valores positivos como linhas
# pyr_piv = pyr_pos.pivot_table(index=('epiweek','faixas_etárias'), columns='pathogen', values='casos', aggfunc='sum').reset_index()
pyr_piv = pyr_pos.pivot_table(index=('month','faixas_etárias'), columns='pathogen', values='casos', aggfunc='sum').reset_index()
pyr_piv.tail(20)

pathogen    month faixas_etárias  CHIKV  DENV  OROV  ZIKV
340       2024-04          00-04      6   697     0     1
341       2024-04          05-09     11  1508     0     0
342       2024-04          10-19     19  3756     0     1
343       2024-04          20-29     51  4338     0     2
344       2024-04          30-39     61  5773     0     0
345       2024-04          40-49     96  6499     1     1
346       2024-04          50-59     82  4698     1     4
347       2024-04          60-69     52  3413     0     0
348       2024-04          70-79     36  2134     0     0
349       2024-04            80+     14   974     0     0
350       2024-05          00-04      0   103     0     0
351       2024-05          05-09      0   201     0     0
352       2024-05          10-19      0   485     0     0
353       2024-05          20-29      0   553     0     0
354       2024-05          30-39      1   699     0     0
355       2024-05          40-49      1   811     0     0
356       2024-05          50-59      1   601     0     0
357       2024-05          60-69      0   428     0     0
358       2024-05          70-79      0   287     0     0
359       2024-05            80+      0   135     0     0

In [20]:
## Optional
## filter weeks
# datas_filtradas = ['2024-01', '2024-02', '2024-03', '2024-04']

## Filter weeks specific
# pyr_dates = pyr_piv[pyr_piv['epiweek'].isin(datas_filtradas)]

## Filter month
# pyr_dates = pyr_piv[pyr_piv['month'].isin(datas_filtradas)]

In [42]:
# deixar a soma agnostica criar lista dos patogenos
patogenos = pyr_piv.columns[2:]

# soma das faixas etárias para DENV no month -05
pyr_piv.loc[pyr_piv['month'] == '2024-05', 'DENV'].sum()

4303

In [43]:
## Salvar excel
# pyr_ages.to_excel('pyr_agegroups.xlsx', index=False) #versão final da pirâmide
# pyr_dates.to_excel('pyr_agegroups_arbo_weeks.xlsx', index=False) #versão final da pirâmide
pyr_piv.to_excel('pyr_agegroups_arbo_month.xlsx', index=False) #versão final da pirâmide